@font-face {
	font-family: "Montserrat-Light";
	src:url(../vendor/Montserrat-Light.ttf);
}
@font-face {
	font-family: "Montserrat-Regular";
	src:url(../vendor/Montserrat-Regular.ttf);
}
@font-face {
	font-family: "Raleway-Bold";
	src:url(../vendor/Raleway-Bold.ttf);
}
@font-face {
	font-family: "Raleway-ExtraBold";
	src:url(../vendor/Raleway-ExtraBold.ttf);
}
@font-face {
	font-family: "Raleway-Medium";
	src:url(../vendor/Raleway-Medium.ttf);
}
@font-face {
	font-family: "Raleway-Regular";
	src:url(../vendor/Raleway-Regular.ttf);
}
@font-face {
	font-family: "Raleway-SemiBold";
	src:url(../vendor/Raleway-SemiBold.ttf);
}
@font-face {
	font-family: "Roboto-Regular";
	src:url(../vendor/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Ultra_Regular";
	src:url("../vendor/Montserrat-UltraLight.otf");
}

