.footer {
	background-color: #111111;
	display: flex;
}

.footer .wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 45px 0 52px;
	justify-content: space-between;
	width: 100%;
}

.copyright li{
	display: inline;
	color: #555555;
	border-right: 1px solid #555;
	padding: 0 8px;
	cursor: pointer;
}

.copyright span {
	color: #959595;
}

.copyright li:last-child, .designed li:last-child {
	border: none;
}

.copyright .faq {
	color: #c7b299;
}

.designed li{
	display: inline;
	color: #555555;
	border-right: 1px solid #555;
	padding: 0 8px;
	cursor: pointer;
}

.designed span {
	color: #7B7B7B;
}

@media screen and (max-width: 767px) {
	.footer .wrapper {
		justify-content: center;
	}
	.designed {
		padding-top: 10px;
	}
}