.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	z-index: 99;
}

.header-wrap {
	display: flex;
	align-items: center;
	position: relative;
    justify-content: space-between;
}
.menu22 {
	width: 30px;
	height: 30px;
	display: none;
}

.search__icon--adap{
	display: none;
}

.logo {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.logo__text {
   color: #ffffff;
   font-family: Raleway-Regular;
   font-size: 34px;
   letter-spacing: -1.36px;
}

.menu {
	list-style: none;
	display: flex;
}

.menu__item {
	margin-left: 30px;
}
.menu__link.active {
	color: #c7b299;
}
.menu__link {
	width: 55px;
    height: 10px;
    color: #ffffff;
    font-family: Montserrat-Regular;
    font-size: 14px;
    font-weight: 300;
}

.menu__link.active {
	color: #c7b299;
}

.menu__item:hover a {
	cursor: pointer;
	color: #c7b299;
	transition: .3s ease-out;
}

.navigation {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.menu__cart {
	margin: 0 28px 0 63px;
}
.search {
	display: flex;
	align-items: center;
	position: relative;
}

.search:hover > .search__input {
	width:800px;
/*	border:.5px solid #ccc;
	outline:.5px solid #ccc;*/
}

.search__icon {
	width: 24px;
}

.search__input {
	width: 0;
	border: none;
	outline: none;
	transition: all .5s linear;
	position: absolute;
	right: 0;
	height: 24px;

}

.search__input:focus {
	width: 800px;
}

.banner {
	display: flex;
	align-items: center;
	text-align: center;
	height: 100vh;
	background: url("../../img/back.png") no-repeat center top;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.5); 
}

.swaga {
	max-width: 562px;
	margin: 381px 0;
}

@media screen and (max-width: 767px) {
	.navigation, .logo__text {
		display: none;
	}
	.header-wrap {
		justify-content: space-between;
		padding: 0 15px;
	}
	.menu__cart {
		display: none;
	}
	.wrapper .banner__text {
		font-size: 20px;
	}
	.wrapper .lg {
		font-size: 34px;
	}
	.wrapper .sm {
		font-size: 14px;
	}
	.menu22 {
		display: flex;
	}
	.search__icon--adap{
		display: flex;
	}
	.swaga .btn--head {
		display: block;
		margin: 0 auto;
	}
	.header {
		top: 20px;
	}

}

