.mobile .wrapper {
	padding-top: 79px;
	display: flex;
	justify-content: space-between;
}

.mobile-about__title {
	padding-top: 116px;
	display: flex;
	flex-direction: column;
	color: #555555;
	font-family: Raleway-SemiBold;
	font-size: 30px;
	margin-bottom: 40px;
}
.hand {
	height: 616px;
}
.mobile-about__subtitle {
	color: #8c8c8c;
	font-family: Montserrat-Light;
	font-size: 16px;
	line-height: 28px;
}

.mobile-about__list {
	padding-top: 45px;
	margin-left: 125px;
	color: #8c8c8c;
	font-family: Montserrat-Light;
	font-size: 16px;
	line-height: 32px;
	list-style: none;
}

.mobile-about__item {
	position: relative;
}

.mobile-about__img {
	position: absolute;
	left: -39px;
	top: 4px;
}

@media screen and (max-width: 767px){
	.hand {
		display: none;
	}
	.mobile-about__list {
		margin-left: 40px;
		display: block;
		margin-bottom: 25px;
	}
	.mobile-about__title, .mobile-about__subtitle{
		display: block;
		text-align: center;
	}
	.mobile .wrapper {
		padding: 0 15px;
	}
	.mobile-about__title {
		padding-top: 50px;
	}
}

