.news {
	background-color: #191919;
	display: flex;
	justify-content: space-between;
}

.news .wrapper {
	display: flex;
	flex-wrap: wrap;
}
.about-waxom {
	max-width: 270px;
	padding-top: 80px;
}
.about-waxom .about-text {
	padding-top: 29px;
	display: flex;
	color: #555555;
	font-family: Montserrat-Light;
	font-size: 14px;
	line-height: 24px;
	width: 95.5%;
}
.news__text {
	color: #ffffff;
	font-family: Raleway-Regular;
	font-size: 34px;
	letter-spacing: -1.36px;
}
.about-waxom__btn {
	color: #d1d1d1;
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 20px;
	padding-top: 33px;
}	

.about-waxom__btn:after {
	content: url("../../img/arrow.png");
	margin-left: 5px;
}

.recent {
	padding-top: 108px;
	padding-bottom: 81px;
}
.recent-head {
	color: #ffffff;
	font-family: Raleway-Bold;
	font-size: 24px;
}

.recent-posts {
	display: flex;
	flex-direction: column;
	max-width: 270px;
}

.recent-posts__date {
	padding: 33px 0 10px;
	color: #363636;
	font-family: Montserrat-Light;
	font-size: 12px;
	line-height: 20px;
}

.recent-posts__text {
	color: #555555;
	font-family: Montserrat-Light;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
}

.recent-posts__border {
	width: 270px;
	height: 2px;
	display: inline-block;
	background-color: #252525;
	margin-top: 21px;

}

.recent-posts:hover .recent-posts__date {
	color: #ffffff;
	cursor: pointer;
}

.recent-posts:hover .recent-posts__text {
	color: #c7b299;
	cursor: pointer;
}

.our-twitter {
	padding-top: 107px;
	margin-left: 33px;
}

.twitter-posts {
	display: flex;
	flex-direction: column;
	max-width: 270px;
}

.our-twitter__head {
	color: #ffffff;
	font-family: Raleway-Bold;
	font-size: 24px;
}

.our-twitter__text {
	color: #555555;
	font-family: Montserrat-Light;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	padding-top: 30px;
	margin-bottom: 10px;
}

.our-twitter__text span {
	color: #00bff3;
}

.our-twitter__text .href {
	color: #959595;
}
.our-twitter__ago {
	color: #363636;
	font-family: Montserrat-Light;
	font-size: 12px;
	line-height: 20px;
	padding-top: 11px;
}

.twitter-posts__border {
	width: 270px;
	height: 2px;
	display: inline-block;
	background-color: #252525;
	margin-top: 14px;
}

.twitter-posts:hover .our-twitter__ago {
	color: #ffffff;
	cursor: pointer;
}

.twitter-posts:hover .our-twitter__text {
	color: #c7b299;
	cursor: pointer;
}

.widget {
	padding-top: 107px;
	margin-left: 29px;
	max-width: 270px;
}

.widget__head {
	color: #ffffff;
	font-family: Raleway-Bold;
	font-size: 24px;
}

.widget__img {
	padding-top: 26px;
}

.widget__img-2, .widget__img-4 {
	padding-left: 6px;
}

.widget__img-1, .widget__img-2 {
	padding-bottom: 8px;
}

@media screen and (max-width: 767px) {
	.news .wrapper {
		justify-content: center;

	}
	.about-head, .recent-head,  .our-twitter__head, .widget__head{
		text-align: center;
	}
	.our-twitter {
		margin-left: 0;
		padding-top: 0;
	}
	.widget {
		margin-left: 0;
		padding: 35px 0;
	}
}
