.partners {
	background-image: url("../../img/part-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.5);
}

.partners .wrapper {
	display: flex;
	justify-content: space-between; 
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 140px 0;
}

@media screen and (max-width: 767px) {
	.partners .wrapper {
		justify-content: center;
		padding: 50px 0 10px;
	}
	.partners-block img {
		padding-bottom: 50px;
	}
}