.posts .wrapper {
	padding: 82px 0 80px;
}

.posts-head {
	display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.posts-head__title {
	max-width: 500px;
    color: #555555;
    font-family: "Raleway-SemiBold";
    font-size: 30px;
    padding-bottom: 24px;
}

.posts-head__subtitle {
	max-width: 790px;
	color: #8c8c8c;
	font-family: Montserrat-Light;
	font-size: 16px;
	padding-bottom: 40px;
	line-height: 28px;
}
.posts-item__title {
	color: #555555;
	font-family: Raleway-Medium;
	font-size: 20px;
	padding: 30px 0 0 29px;
}

.posts-item__subtitle {
	color: #8c8c8c;
	font-family: Montserrat-Light;
	font-size: 14px;
	line-height: 22px;
	padding: 19px 0 0px 29px;
}
.posts-item__btn {
	font-family: Montserrat-Light;
	font-size: 14px;
	line-height: 20px;
	padding: 27px 0 33px 29px;
}

.posts-item__btn a {
	color: #c7b299;
}
.posts-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.posts-item {
	border: 1px solid #f8f8f8;
	max-width: 370px;
}

.posts-item__img {
	height: 220px;
	position: relative;
}

.posts-item__hover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	display: none;  
}

.posts-item__date {
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 3px 3px 0 0;
	background-color: #363636;
	width: 50px;
    height: 35px;
    color: #ffffff;
	font-family: Montserrat-Light;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;

}

.posts-item__subdate {
	position: absolute;
	top: 55px;
	left: 20px;
	color: #ffffff;
	font-family: Roboto-Regular;
	font-size: 12px;
	width: 50px;
	height: 25px;
	border-radius: 0 0 3px 3px;
	background-color: #252525;
	text-align: center;
	line-height: 2;	
}

.posts-item__btn:after {
	content: url("../../img/arrow.png");
	margin-left: 5px;
}

.posts-item__img img {
	width: 100%;
	height: 100%;
}

.posts-item:hover {
	cursor: pointer;
}

.posts-item:hover .posts-item__hover {
	display: block;
}

.posts-item:hover .posts-item__footer {
	background-color: #362f2d;
}

.posts-item:hover .posts-item__subtitle {
	color: #ffffff;
}

.posts-item:hover .posts-item__title {
	color: #c7b299;
}

.posts-item:hover .posts-item__date {
	background-color: #c7b299;
}

.posts-item:hover .posts-item__subdate {
	background-color: #a48d72;
}

.posts-btn {
	display: flex;
	justify-content: center;
}

.arrow-right {
	margin-left: 8px;
}

@media screen and (max-width: 767px) {
	.posts-block {
		justify-content: center;
	}
}