.presentation {
	display: flex;
	background: url("../../img/presentation.png") no-repeat center top;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(0,0,0,0.5); 
}

.presentation-inner {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.aboutus{
	display: flex;
	max-width: 552px;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 210px 0 207px;
}

.bg-play {
	width: 100px;
	height: 100px;
	background-color: rgba(0,0,0,.3);
	padding: 15px;
	border-radius: 50%;
	margin-bottom: 44px;
}
.bg-play img {
	width: 70px;
	height: 70px;
}

.aboutus__title {
	color: #ffffff;
	font-family: Raleway-Medium;
	font-size: 30px;
	margin-bottom: 29px;
}

.aboutus__subtitle {
	width: 100%;
	color: #ffffff;
	font-family: Montserrat-Light;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 40px;
}

.aboutus__time {
	color: #c7b299;
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 24px;
}

@media screen and (max-width: 767px) {
	.aboutus {
		justify-content: center;
	}
	.presentation {
		height: 55%;
	}
	.aboutus__title {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.bg-play {
		width: 70px;
		height: 70px;
		margin-bottom: 25px;
    }
    .bg-play img {
	    width: 40px;
		height: 40px;
    }
    .aboutus__subtitle {
    	font-size: 13px;
    }
}