.purchase {
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.purchase-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.purchase-block__title {
	display: block;
	text-align: center;
	margin-top: 48px;
	font-size: 28px;
	color: #c7b299;
	font-family: Raleway-Regular;
}

.purchase-block__subtitle {
	display: block;
	text-align: center;
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 49px;
	color: #615855;
	font-family: Montserrat-Light;
}

.purchase-block__btn {
  	padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
	.purchase-block__subtitle {
		margin-bottom: 0;
	}
	.purchase-block {
		justify-content: center;
	}
	.btn--purchase {
		margin-top: 30px;
	}
}