.realization {
	background-color: #fbfaf8;
	padding: 83px 0 0;
}

.realization-head {
	display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.realization-head__title {
	max-width: 500px;
    color: #555555;
    font-family: "Raleway-SemiBold";
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 24px;
}

.realization-head__subtitle {
	max-width: 790px;
	color: #8c8c8c;
	font-family: Montserrat-Light;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 40px;
	line-height: 28px;
}

.realization-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.realization-img__slide {
	width: 100%;
}

@media screen and (max-width: 767px) {
	.realization {
		padding: 50px 0 0;
	}
}