.satisfied .wrapper {
	display: flex;
	justify-content: space-around; 
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.satisfied {
	padding: 60px 0;
	flex-wrap: wrap;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}


.satisfied-block {
	display: flex;
    flex-wrap: wrap;
}

.satisfied-block__num {
	display: block;
	text-align: center;
	color: #ffffff;
	font-family: "Ultra_Regular";
	font-size: 48px;
	line-height: 36px;
	padding-top: 30px;
}

.satisfied-block__subtitle {
	display: block;
	text-align: center;
	color: #c7b299;
	font-family: Montserrat-Light;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	padding-top: 21px;
}

.satisfied-block__border {
	width: 30px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    margin-top: 33px;	 
}

@media screen and (max-width: 767px) {
	.satisfied-block__border {
		margin-bottom: 25px;
	}
	.satisfied-block__item {
		max-width: 250px;
	}
}